<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--suppress DuplicatedBeanNamesInspection -->

    <!--<bean id="feedfileLoader" class="com.goeuro.job.FeedFileLoader" lazy-init="false">
        <constructor-arg name="fileName" value="${feedfile}"></constructor-arg>
    </bean>-->
    <bean id="feedfileLoader" class="com.goeuro.job.BusRouteInformationManager" lazy-init="false" init-method="load"
          scope="singleton"/>

    <bean id="routeProcessor" class="com.goeuro.job.BusRouteInformationProcessor" lazy-init="false" />
</beans>
